@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Bellefair&family=Poppins:wght@200;300;400&family=Rubik:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'STIX Two Text';
}
h3 {
    font-family: 'Satoshi', sans-serif;
    font-weight: 200;
    font-size: 1em;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: black;
}
header {
    margin: 0 auto;
    padding-top: 1.5rem;
    width: 80%;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}
.nav--links {
    display: flex;
    gap: 1.5em;
    font-size: .85em;
    font-family: 'Satoshi', sans-serif;
}
.header {
    width: 80%;
    margin: 0 auto;
}
.header h1 {
    text-align: center;
    font-size: 3em;
    width: 80%;
    margin: 0 auto;
    margin-block: 1.75rem;
    line-height: 70px;
    font-family: 'Clash Display', sans-serif;
}
.header p {
    width: 62%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Satoshi', sans-serif;
    font-weight: 500;
    line-height: 25px;
}
.nav-cons {
    gap: 1em;
}

.carousel--container {
    overflow-x: hidden;
    margin-top: 1.5rem;
}

.carousel--container img {
    /* background-size: cover; */
    width: 358px;
    transform: scale(.5);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 1rem;
}

/* Featured section */
.featured {
    width: 84%;
    margin: 0 auto;
}
.featured--header {
    font-weight: 400;
}
.featured--wrapper {

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.featured--products {
    display: flex;
    gap: 2rem;
    margin-top: 4rem;
}
.featured--products:nth-of-type(2) img{
    order: 2;
}
.featured--img {
    width: 610px;
    height: 305px;
}
.product--details {
    position: relative;
}
.product--details h2 {
    color: #333333;
}
.product--details p {
    margin-top: 2rem;
    line-height: 24px;
    font-family: 'Satoshi', sans-serif;
    font-size: .95em;
    font-weight: 400;
    color: #333333;
}
.product--users {
    position: absolute;
    bottom: 0;
    gap: 2.5rem;
}
.user--img {
    display: flex;
    padding-right: -25px;
}
.user-img {
    width: 40px;
    aspect-ratio: 1;
    margin-right: -20px;
}
.vector-span {
    padding: 9px 12px;
    border: 0.5px solid #333333;
    border-radius: 50%;
    cursor: pointer;
}
.vector-img {
    width: 22px;
    aspect-ratio: 1;
}


/* AUCTION AND EXHIBITION SECTION */
.auction--section {
    margin-top: 3rem;
    background: linear-gradient(99.99deg, #4693ED -26.21%, #79C2D2 22.16%, rgba(192, 86, 9, 0.49) 111.62%);
    color: #fff;
}
.auctions {
    width: 84%;
    margin: 0 auto;
    position: relative;

}
.auctions h2 {
    font-weight: 400;
    padding-block: 2rem;
}
.content-img {
}
.content--info {
    position: absolute;
    z-index: 100;
    bottom: 10%;
    left: 3rem;
}
.art--wrap {
    display: flex;
}
.art--num {
    margin: 0 auto;
}
.art--num h2 {
    font-size: 2.5em;
    font-family: 'Bellefair', serif;
}
.art--detail {
    display: flex;
    gap: 0.5rem;
}
.art--detail>span img {
    width: 10px;
}
.text {
    width: 220px;
}
.text h3 {
    text-transform: uppercase;
    font-size: 1.2em;
    font-weight: 400;
    font-family: 'Bellefair', serif;
    letter-spacing: 1.2;
    margin-bottom: 1.2rem;
}
.text h5 {
    text-transform: uppercase;
    font-weight: 200;
    font-size: .775rem;
    font-family: 'Poppins', sans-serif;
}
.see--more {
    display: flex;
    gap: 18rem;
}
.see--more p {
    width: 50%;
    margin-top: 1rem;
    font-size: .875em;
    font-family: 'Satoshi', sans-serif;
    font-weight: 400;
    line-height: 20px;
}
.set--reminder {
    gap: 2rem;
}
.set--reminder a {
    color: #fff;
}
.set--reminder button {
    padding: 12px 20px;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 8px;

}

/* EXPLORE SECTION */
.explore {
    padding-top: 7rem;
}
.marketplace, .see--auctions {
    display: flex;
    width: 90%;
    margin: 0 auto;
    color: #333333;
    font-family: 'Satoshi', sans-serif;
    padding-block: 2rem;
    justify-content: space-between;
    padding-right: 8rem;
}
.marketplace h2, .see--auctions h2 {
    font-weight: 400;
}
.arrow-img {
    width: 40px;
    cursor: pointer;
    transition: all .3s ease;
}
.arrow-img:hover {
    transform: scale(1.2);
}

/* TESTIMONIALS SECTION */
.testimonials {
    background: #E2E2E2;
    padding-block: 3rem 15rem;
}
.testimonial--header {
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.testimonial--header h2 {
    text-transform: uppercase;
    color: #161616;
    font-family: 'Clash Display', sans-serif;
    width: 300px;
    line-height: 42px;
    font-size: 1.8em;
}

.scroll--links {
    overflow-y: scroll;
}
.scroll {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.scroll a {
    font-size: 1.275em;
}
.testimonies {
    width: 88%;
    margin: 0 auto;
}
.testimonies p {
    color: rgba(0, 0, 0, 0.57);
    font-size: 1.2em;
    line-height: 1.2;
    margin-top: 1.5rem;
    max-width: 1000px;
    font-weight: 200;
}

/* NEWSLETTER */
.newsletter--card {
    width: 95%;
    border: .8px solid #333333;
    margin: 0 auto;
    text-align: center;
    margin-top: 6rem;
    color: #333333;
    padding-bottom: 2rem;
}
.newsletter--card h2 {
    padding-block: 3rem 1rem;
    text-transform: uppercase;
    font-size: 1.275em;
    font-weight: 400;
    font-family: 'Baskervville', serif;
}
.newsletter--card h3 {
    font-family: 'Satoshi', sans-serif;
    font-size: 1.3em;
    font-weight: 400;
}
.form {
    margin-top: 2rem;
}
.user--input {
    width: 446px;
    height: 50px;
    padding-left: 2rem;
    font-family: 'Baskervville', serif;
}
.user--btn {
    height: 50px;
    padding-inline:30px;
    background: #272727;
    border: 1px solid #333333;
    color: #fff;
    margin-left: 1rem;
    font-family: 'Baskervville', serif;
}

/* FOOTER */
.foot--container {
    padding-top: 4rem;
    width: 80%;
    margin: 0 auto;
}
.flex-gap {                             
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    /* required update */
}
.logo-foot {
    font-weight: 700;
    font-size: 2em;
}
footer h4 {
    font-family: 'Rubik', sans-serif;
    letter-spacing: -0.02em;
    color: #333333;
    opacity: 0.5;
    text-align: center;
    padding-block: 5rem 2rem;
}


/* MEDIA QUERY-SMALL DEVICES */
@media screen and (max-width: ) {
    
}